@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Roboto:wght@300;400;500&display=swap');
:root {
    --orange: #F88263;
    --white: #fff;
    --black: rgb(4, 28, 78);
    --blue: #071d27;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    outline: none;
    color: var(--white);
    height: auto;
}

body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #e9c9ab, #6d6a67);
}

.container {
    position: relative;
    align-items: center;
    padding: 20px 30px;
    width: 400px;
    background: var(--black);
    border-radius: 4px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.container .outer {
    width: 100%;
    margin-top: 40px;
    text-align: center;
    position: relative;
}

.outer #form {
    width: 100%;
    position: relative;
    display: flex;
    margin: auto;
    transition: 0.2s ease-in-out;
}

#page {
    margin: auto;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
    padding: 10px 15px;
    text-align: center;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.element,
.services {
    position: relative;
}

.element input,
.services {
    width: 80%;
    height: 40px;
    border-radius: 4px;
    margin-bottom: 20px;
    background-color: #294183;
    border: 1px solid #f5f4f4;
    padding-left: 40px;
    font-size: 15px;
    letter-spacing: 1px;
}

input::placeholder,
.label_input {
    color: #d4cdcd;
    font-size: 15px;
    text-transform: capitalize;
}

.element span {
    position: absolute;
    left: 30px;
    top: 12px;
    font-size: 18px;
}

#btn1 {
    padding: 5px 25px;
    background: linear-gradient(45deg, #eea44f, #fc7a00);
    border-radius: 50px;
    font-size: 25px;
    text-transform: uppercase;
    border: none;
    margin-top: 5px;
    cursor: pointer;
}

#btn1:active {
    transform: scale(1.01);
}

table {
    border: 1px solid var(--white);
    margin: 10px 0px 10px 20px;
    font-size: 0.9em;
    min-width: 350px;
    text-align: center;
    padding: 2em;
    border-radius: 7px;
}

table tr,
th {
    background-color: #294183;
    color: var(--white);
    text-align: center;
    border: 1px solid var(--white);
    font-weight: bold;
    padding: 5px;
    border-collapse: collapse;
}

table th {
    padding: 12px 15px;
}

.deleteBtn {
    background-color: #e73010;
    color: var(--white);
    border: 1px solid #e73010;
    padding: 3px;
}