            @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Roboto:wght@300;400;500&display=swap');
             :root {
                --orange: #F88263;
                --white: #fff;
                --black: rgb(4, 28, 78);
                --blue: #2AB0F0;
            }
            
            * {
                font-family: 'Poppins', sans-serif !important;
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                text-decoration: none;
                font: var(--black);
                font-size: 0.9rem;
                /* color: var(--black); */
                list-style-type: none;
            }
            
            body {
                width: 100%;
                height: 100%;
                background: var(--white);
                font: var(--black);
                text-transform: capitalize;
            }
            
            .background-main {
                display: block;
                min-width: 100vh;
                min-height: 120vh;
                background: var(--blue);
                margin-top: 25px;
                margin-bottom: 10px;
                margin-left: 60px;
                margin-right: 60px;
                padding-top: 30px;
                border-radius: 10px;
            }
            
            .back-decor1 {
                min-width: 91.22%;
                min-height: 3.5vh;
                background: var(--white);
                bottom: -5%;
                position: absolute;
                z-index: 1;
            }
            
            .back-decor2 {
                min-width: 91.22%;
                min-height: 3.5vh;
                background: var(--white);
                bottom: 2.2%;
                position: absolute;
                z-index: 1;
            }
            
            .back-decor3 {
                min-width: 91.22%;
                min-height: 3.5vh;
                background: var(--white);
                bottom: 9.8%;
                position: absolute;
                z-index: 1;
            }
            
            .back-decor4 {
                min-width: 40vh;
                min-height: 150vh;
                background: var(--white);
                margin: 80px;
                border-radius: 15px;
                position: relative;
                z-index: 10;
            }
            
            .navigation {
                width: 100%;
                top: 0;
                left: 0;
                right: 0;
                z-index: 50;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 6em;
            }
            
            .navbar1 {
                display: flex;
            }
            
            .navbar ul li {
                display: inline-block;
            }
            
            .navbar1 h1 a {
                margin-top: 3.5rem;
                margin-left: 0.5rem;
            }
            
            .navigation a img {
                float: left;
            }
            
            .navigation .logo {
                font-size: 1.2rem;
                float: left;
                font-weight: bolder;
                text-transform: uppercase;
                color: var(--black);
            }
            
            .navigation .logo span {
                color: var(--orange);
                font-size: 1.2rem;
            }
            
            .navigation .navbar a {
                font-size: 1rem;
                margin: 0.8rem;
                /*color: var(--black);
                 display: relative;  b4 absolute*/
            }
            
            .navigation .navbar a:hover,
            .navigation .navbar li:hover {
                color: var(--orange);
            }
            /* .navbar ul li .sub-nav ul {
                width: 180px;
                margin-top: 10px;
            } */
            /* .navigation .navbar ul li .sub-nav::before {
                content: "";
                position: absolute;
                top: 13.5%;
                right: 35%;
                z-index: 10;
                transform: translateX(-50%);
                border: 10px solid;
                border-color: transparent transparent #294183 transparent;
            } */
            /* .navbar ul li .sub-nav ul li {
                background-color: #294183;
                font-size: 15px;
                padding: 7px; */
            /* display: block; */
            /* border-bottom: 1px solid #fff;
                border-radius: 5px;
            } */
            /* .navigation .navbar a:hover {
                display: block;
            } */
            
            .clickable-li {
                cursor: pointer;
                font-size: 15px;
            }
            /* .navigation .navbar li:hover>.sub-nav {
                display: block !important;
            }
            
            .navbar ul li .sub-nav ul li,
            .navbar ul li .sub-nav ul li a {
                color: var(--white) !important;
            } */
            
            .btn {
                display: inline-block;
                margin-top: .8rem;
                background: var(--black);
                color: var(--white) !important;
                padding: .5rem 3rem;
                border: .2rem solid var(--orange);
                border-radius: 0.5rem;
                cursor: pointer;
                font-size: 1.7rem;
            }
            
            .btn:hover {
                background: var(--blue);
                color: var(--white);
            }
            
            .content {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 2em;
                margin-left: 2em;
                margin-bottom: 2em;
                color: var(--black);
            }
            
            .content1 {
                margin-top: 40px;
                padding: 10px;
                line-height: 40px;
                font-weight: bold;
            }
            
            .content1 .btn {
                margin-top: 40px;
                margin-right: 20px;
            }
            
            .picture-box {
                width: 27rem;
                height: 27rem;
                border: 10px solid var(--blue);
                float: right;
                justify-content: center;
                object-fit: contain;
            }
            
            .picture-box img {
                width: 25rem;
                height: 25rem;
            }
            
            .container {
                width: 100%;
                display: grid;
                grid-template-columns: 2fr 3fr;
                grid-gap: 2em;
                margin-top: 50px;
            }
            
            .row {
                float: right;
            }
            
            .cat-icon {
                margin-top: 50px;
                margin-bottom: 50px;
            }
            
            .cat-cap {
                margin-right: 100px;
                margin-top: -150px;
                margin-bottom: 100px;
                justify-content: center;
                float: right;
                width: 30em;
                height: 6em;
                padding: 10px;
                border: none;
                border-radius: 10px;
                /* background: rgb(228, 226, 226); */
                box-shadow: inset 20px 20px 60px #d0d0d0, inset -20px -20px 60px #ffffff;
                cursor: pointer;
            }
            
            .cat-cap:hover {
                box-shadow: 20px 20px 60px #d0d0d0, -20px -20px 60px #ffffff;
            }
            
            .desc0 h2 {
                margin-top: 150px;
                margin-left: 50px;
                margin-bottom: 150px;
                margin-right: 50px;
                padding-top: 100px;
                line-height: 30px;
                font-weight: bolder;
                color: var(--black);
            }
            
            #desc1,
            #desc2,
            #desc3 {
                display: grid;
                grid-template-columns: 1fr 2fr;
                margin-top: 5px;
                margin-right: 10px;
                padding-top: 5px;
                padding-right: 30px;
                align-items: center;
                margin-left: 10px;
            }
            
            .dropdown-content {
                display: none;
                position: absolute;
                background-color: var(--white);
                min-width: 100px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                padding: 10px 15px;
                margin-top: 12px;
                z-index: 1;
                flex-direction: row;
                border-radius: 10px;
            }
            
            .dropdown-content li {
                border-bottom: 1px solid #294183;
                line-height: 30px;
            }
            
            .dropdown-content::before {
                content: "";
                position: absolute;
                top: -27%;
                right: 75%;
                z-index: 10;
                transform: translateX(-50%);
                border: 10px solid;
                border-color: transparent transparent #294183 transparent;
            }